In [1]:
a=123
b=-123.4
a+b

-0.4000000000000057

In [2]:
C=0o34
d=0o24
c+d

NameError: name 'c' is not defined

In [3]:
e=0*2A
f=0*FF
e+f

SyntaxError: invalid syntax (<ipython-input-3-2f108e196361>, line 1)

In [4]:
e=O*2A
f=O*FF
e+f

SyntaxError: invalid syntax (<ipython-input-4-7c9415e87cdb>, line 1)

In [5]:
a="Wise"
b="InCompany"
print(a+b)
a="WsieInCompnay"
print(a*2)

WiseInCompany
WsieInCompnayWsieInCompnay

In [6]:
a="wise in Compnay"
print(a[3])

e

In [7]:
print(a[-3])

n

In [8]:
print(a[0:15])

wise in Compnay

In [9]:
print(a[4:])

 in Compnay

In [10]:
print(a[0:4])

wise

In [11]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [12]:
print(a[0])

1

In [13]:
print(a[-1])

5

In [14]:
print(a[0:5])

[1, 2, 3, 4, 5]

In [15]:
print(a[:5])

[1, 2, 3, 4, 5]

In [16]:
print(a[2:])

[3, 4, 5]

In [17]:
a.append(6)
a[0]=0

In [18]:
del a[1]
print(a)

[0, 3, 4, 5, 6]

In [19]:
print(a[0])

0

In [20]:
print(a[1])

3

In [21]:
a=[1,2]
b=[3,4,5]
c=a+b
print(c)
d=a*3
print(d)

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2]

In [22]:
t=(1,2,3,4,5)
t1=(1,2,3)
print(t[1])
print(t[0:3])

2
(1, 2, 3)

In [23]:
print(t[0:2])

(1, 2)

In [24]:
print(t[0:1])

(1,)

In [25]:
a=(1,2)
b=(3,4,5)
c=a+b
print(d)
d=a*3
print(d)

[1, 2, 1, 2, 1, 2]
(1, 2, 1, 2, 1, 2)

In [26]:
a=(1,2)
b=(3,4,5)
c=a+b
print(c)
d=a*3
print(d)

(1, 2, 3, 4, 5)
(1, 2, 1, 2, 1, 2)

In [27]:
name=("David","Kim")
print(name)
firstname, lastname=("David","Kim")
print(lastname,",", firstname)

('David', 'Kim')
Kim , David

In [28]:
set={1,1,2,2,3,3}
print(set)

{1, 2, 3}

In [29]:
set.add(4)
set

{1, 2, 3, 4}

In [30]:
set.update({4,5,6})
set

{1, 2, 3, 4, 5, 6}

In [31]:
set.remove(1)

In [32]:
set

{2, 3, 4, 5, 6}

In [39]:
a={1,2,3}
b={1,3,4}
c=a&b
print(c)
d=a|b
print(d)
e=a-b
print(e)

{1, 3}
{1, 2, 3, 4}
{2}

In [40]:
test={"Kim":90, "Jeong":80, "park":75}
test["Kim"]

90

In [41]:
test['Jeong']=85
test["Cho"]=95
del test["park"]
print[test]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [42]:
test={'kim':90, 'Jeong':80, "park",75}
test['Jeong']=85
test['Cho']=95
del test["Park"]
print(test)

SyntaxError: invalid syntax (<ipython-input-42-fb5f7adaf079>, line 1)

In [43]:
test={'kim':90, 'Jeong':80, 'park',75}
test['Jeong']=85
test['Cho']=95
del test['Park']

SyntaxError: invalid syntax (<ipython-input-43-3cb54c577577>, line 1)

In [44]:
test={'kim':90, 'Jeong':80, 'park':75}
test['Jeong']=85
test['Cho']=95
del test['Park']

KeyError: 'Park'

In [45]:
test={'kim':90, 'Jeong':80, 'Park':75}
test['Jeong']=85
test['Cho']=95
del test['Park']

In [46]:
print(test)

{'kim': 90, 'Jeong': 85, 'Cho': 95}

In [47]:
test={"Kim":90, "Jeong":80, "Park":75}
print(test.keys())
print(test.values())

dict_keys(['Kim', 'Jeong', 'Park'])
dict_values([90, 80, 75])

In [48]:
money=4000
if money==3000:
    print("Riding on KTX")
    elift mmoney>=5000:
        print("taking a bus")
        else:
            Print("on your foot")

SyntaxError: invalid syntax (<ipython-input-48-cdd088af5881>, line 4)

In [49]:
money=4000
if money==3000:
    print("Riding on KTX")
    elift money>=5000:
        print("taking a bus")
        else:
            Print("on your foot")

SyntaxError: invalid syntax (<ipython-input-49-0c508ec9e715>, line 4)

In [50]:
money=4000
if money==3000:
    print("Riding on KTX")
    elif money>=5000:
        print("taking a bus")
        else:
            Print("on your foot")

SyntaxError: invalid syntax (<ipython-input-50-036d35b1c4db>, line 4)

In [51]:
money=4000
if money==3000:
    print("Riding on KTX")
    elif money>=5000:
        print("taking a bus")
        else:
            print("on your foot")

SyntaxError: invalid syntax (<ipython-input-51-6c183c275b1e>, line 4)

In [52]:
money=4000
if money==3000:
    print("Riding on KTX")
elif money>=5000:
    print("Riding on a bus")
else:
    print("on your foot")

on your foot

In [53]:
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [54]:
list='Wise','In','Company']
for s in list:
    print(s)

SyntaxError: unmatched ']' (<ipython-input-54-274588cf7feb>, line 1)

In [55]:
list=['Wise','In','Company']
for s in list:
    print(s)

Wise
In
Company

In [56]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [57]:
food=["apple","banana","bread"]
i=0
while i <len(food):
    print(food[i])
    i=i+1

apple
banana
bread