In [1]:
import pandas as pd
data=pd.read_csv('vote.csv', encoding='utf-8')
data.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,1,4,3,3,3,2,2,4.0,1,2
1,1,5,2,3,3,2,4,3.0,0,3
2,1,3,1,2,4,1,3,2.8,1,4
3,2,1,2,1,3,5,4,2.6,1,1
4,1,1,1,2,4,4,3,2.4,1,1

In [2]:
범주형과 연속형 데이터 나누기

SyntaxError: invalid syntax (<ipython-input-2-21502b911925>, line 1)

In [3]:
4.1="범주형과 연속형 데이터 나누기"

SyntaxError: cannot assign to literal (<ipython-input-3-eafbab539930>, line 1)

In [4]:
둘="범주형과 연속형 데이터 나누기"

In [5]:
X1=data[['gender','region']]
XY=data[['edu','income','age','score_gov','score_progress','score_intention','vote','parties']]

In [6]:
vote 랑 party도 범주형 데이터잖아..

SyntaxError: invalid syntax (<ipython-input-6-48d460780c73>, line 1)

In [7]:
X1['gender']=X1['gender'].replace([1,2]), ['male', 'female']
X1['region']=X1['region'].replace([1,2,3,45]), ['Sudo', "ChungCheung","Honam",'Youngnam','Others']

ValueError: Length of values (2) does not match length of index (211)

In [8]:
X1['gender']=X1['gender'].replace([1,2]), ['male', 'female']
X1['region']=X1['region'].replace([1,2,3,4,5]), ['Sudo', "ChungCheung","Honam",'Youngnam','Others']

ValueError: Length of values (2) does not match length of index (211)

In [9]:
X1.head

<bound method NDFrame.head of      gender  region
0         1       4
1         1       5
2         1       3
3         2       1
4         1       1
..      ...     ...
206       1       4
207       1       1
208       1       2
209       1       1
210       2       1

[211 rows x 2 columns]>

In [10]:
X1.head()

   gender  region
0       1       4
1       1       5
2       1       3
3       2       1
4       1       1

In [11]:
X1['gender']=X1['gender'].replace([1,2], ['male', 'female'])
X1['region']=X1['region'].replace([1,2,3,45], ['Sudo', "ChungCheung","Honam",'Youngnam','Others'])

<ipython-input-11-f5d69791d1a7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['gender']=X1['gender'].replace([1,2], ['male', 'female'])

ValueError: Replacement lists must match in length. Expecting 4 got 5

In [12]:
X1['gender']=X1['gender'].replace([1,2], ['male', 'female'])
X1['region']=X1['region'].replace([1,2,3,4,5], ['Sudo', "ChungCheung","Honam",'Youngnam','Others'])

<ipython-input-12-b898106afa8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['gender']=X1['gender'].replace([1,2], ['male', 'female'])
<ipython-input-12-b898106afa8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['region']=X1['region'].replace([1,2,3,4,5], ['Sudo', "ChungCheung","Honam",'Youngnam','Others'])

In [13]:
X1.head()

   gender    region
0    male  Youngnam
1    male    Others
2    male     Honam
3  female      Sudo
4    male      Sudo

In [14]:
X1_dum=pd.get_dummies(x1)
X1_dum.head()

NameError: name 'x1' is not defined

In [15]:
X1_dum=pd.get_dummies(X1)
X1_dum.head()

,gender_female,gender_male,region_ChungCheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,0,1,0,0,0,0,1
1,0,1,0,0,1,0,0
2,0,1,0,1,0,0,0
3,1,0,0,0,0,1,0
4,0,1,0,0,0,1,0

In [16]:
Fvote=pd.concat([X1_dum, XY], axis=1)
Fvote.head()

,gender_female,gender_male,region_ChungCheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [17]:
Fvote.to_csv('Fvote.csv', index=False, sep=',', encoding='utf-8')

In [18]:
import warnings
warnings.filterwarning("ignore")
import pandas as pd
data=pd.read_csv('Fvote.csv', encoding='utf-8')
data.head()

AttributeError: module 'warnings' has no attribute 'filterwarning'

In [19]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
data=pd.read_csv('Fvote.csv', encoding='utf-8')
data.head()

,gender_female,gender_male,region_ChungCheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [20]:
X=data[data.columns[1:14]]

In [21]:
x

NameError: name 'x' is not defined

In [22]:
X

,gender_male,region_ChungCheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote
0,1,0,0,0,0,1,3,3,3,2,2,4.0,1
1,1,0,0,1,0,0,2,3,3,2,4,3.0,0
2,1,0,1,0,0,0,1,2,4,1,3,2.8,1
3,0,0,0,0,1,0,2,1,3,5,4,2.6,1
4,1,0,0,0,1,0,1,2,4,4,3,2.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,1,0,0,0,0,1,1,4,4,3,3,1.8,1
207,1,0,0,0,1,0,2,1,2,3,4,2.6,1
208,1,1,0,0,0,0,2,1,2,3,3,2.6,1
209,1,0,0,0,1,0,2,3,4,3,2,4.0,1
210,0,0,0,0,1,0,2,2,2,3,3,3.8,1

In [23]:
y=data[["vote"]]

In [24]:
from sklearn.mdoel_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, stratify=y, random_state=42)

ModuleNotFoundError: No module named 'sklearn.mdoel_selection'

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, stratify=y, random_state=42)

In [26]:
print(X_train.shape)
print(X_test.shape)

(158, 13)
(53, 13)

In [27]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [28]:
!!Cross validation 정말 신박하게 이해가 되는 부분!!

['/bin/bash: Cross: command not found']

In [29]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print("5개 테스트 셋 정확도:", scores)
print("정확도 평균:", scores.mean())

5개 테스트 셋 정확도: [1. 1. 1. 1. 1.]
정확도 평균: 1.0

In [30]:
아 어째서 정확도가 전부 1이 나오지...

SyntaxError: invalid syntax (<ipython-input-30-ea953c407abd>, line 1)

In [31]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print("5개 테스트 셋 정확도:", scores)
print("정확도 평균:", scores.mean())

5개 테스트 셋 정확도: [1. 1. 1. 1. 1.]
정확도 평균: 1.0

In [32]:
print(y_train.shape)
print(y_test.shape)

(158, 1)
(53, 1)

In [33]:
print(X_train.shape)
print(X_test.shape)

(158, 13)
(53, 13)

In [34]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print("5개 테스트 셋 정확도:", scores)
print("정확도 평균:", scores.mean())

5개 테스트 셋 정확도: [1. 1. 1. 1. 1.]
정확도 평균: 1.0

In [35]:
from sklearn.model_selection import KFold
kfold=KFold(n_splits=5, shuffle=True, random_state=42)
score=cross_val_score(model, X_train, y_train, cv=kfold)
print("5개 폴드의 정확도:", scores)

5개 폴드의 정확도: [1. 1. 1. 1. 1.]

In [36]:
역시 이건 데이터셋 처음 분할할때 문제가 생긴듯하다

SyntaxError: invalid syntax (<ipython-input-36-41f41c695efa>, line 1)