In [1]:
import warnings
warnings.filterwarning('ignore')
import pandas as pd
import numpy as np
import matplotlib.pylot as plt

data= pd.read_csv('house-price.csv')

AttributeError: module 'warnings' has no attribute 'filterwarning'

In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pylot as plt

data= pd.read_csv('house-price.csv')

ModuleNotFoundError: No module named 'matplotlib.pylot'

In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data= pd.read_csv('house-price.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'house-price.csv'

In [4]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pylot as plt

data= pd.read_csv('house_price.csv')

ModuleNotFoundError: No module named 'matplotlib.pylot'

In [5]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data= pd.read_csv('house_price.csv')

In [6]:
data[1:4]

   housing_age  income  bedrooms  households     rooms  house_value
1           49  6.0199  0.160984    2.726688  5.752412       500000
2           35  5.1155  0.249061    1.902676  3.888078       500000
3           32  4.7109  0.231383    1.913669  4.508393       500000

In [7]:
data[1:5]

   housing_age  income  bedrooms  households     rooms  house_value
1           49  6.0199  0.160984    2.726688  5.752412       500000
2           35  5.1155  0.249061    1.902676  3.888078       500000
3           32  4.7109  0.231383    1.913669  4.508393       500000
4           21  4.5625  0.255583    3.092664  4.667954       500000

In [8]:
data[:3]

   housing_age  income  bedrooms  households     rooms  house_value
0           23  6.7770  0.141112    2.442244  8.103960       500000
1           49  6.0199  0.160984    2.726688  5.752412       500000
2           35  5.1155  0.249061    1.902676  3.888078       500000

In [9]:
data[60:]

       housing_age  income  bedrooms  households     rooms  house_value
60              24  4.9044  0.238710    2.019685  4.881890       485000
61              25  3.3989  0.282595    1.460118  3.883291       485000
62              36  7.1615  0.155603    2.964444  6.226667       484700
63              34  5.6315  0.234353    2.247863  4.540598       484600
64              40  6.0876  0.180153    1.865546  5.504202       483800
...            ...     ...       ...         ...       ...          ...
17684           34  2.3013  0.214583    2.748299  4.897959        26600
17685           33  2.6750  0.246622    3.428571  4.698413        22500
17686           39  2.3667  0.340771    1.876812  3.572464        17500
17687           19  2.1000  0.386107    2.987805  3.774390        14999
17688           16  1.6607  0.286275    2.236842  6.710526        14999

[17629 rows x 6 columns]

In [10]:
data[[income]]

NameError: name 'income' is not defined

In [11]:
data[['income']]

       income
0      6.7770
1      6.0199
2      5.1155
3      4.7109
4      4.5625
...       ...
17684  2.3013
17685  2.6750
17686  2.3667
17687  2.1000
17688  1.6607

[17689 rows x 1 columns]

In [12]:
data[data.colmuns[2,3,4]]

AttributeError: 'DataFrame' object has no attribute 'colmuns'

In [13]:
data[data.colmuns[2,3,4]]

AttributeError: 'DataFrame' object has no attribute 'colmuns'

In [14]:
data[data.columns[2,3,4]]

IndexError: too many indices for array: array is 1-dimensional, but 3 were indexed

In [15]:
data[data.columns[1,3]]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [16]:
data[data.columns[0,2,4]]

IndexError: too many indices for array: array is 1-dimensional, but 3 were indexed

In [17]:
data[data.columns[0,2]]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [18]:
data[data.columns[0]]

0        23
1        49
2        35
3        32
4        21
         ..
17684    34
17685    33
17686    39
17687    19
17688    16
Name: housing_age, Length: 17689, dtype: int64

In [19]:
data.loc[;, 'house-price']

SyntaxError: invalid syntax (<ipython-input-19-817fb70947c6>, line 1)

In [20]:
data.loc[:, 'house-price']

KeyError: 'house-price'

In [21]:
data.loc[:,'income']

0        6.7770
1        6.0199
2        5.1155
3        4.7109
4        4.5625
          ...
17684    2.3013
17685    2.6750
17686    2.3667
17687    2.1000
17688    1.6607
Name: income, Length: 17689, dtype: float64

In [22]:
data.iloc(1:7, 0:2)

SyntaxError: invalid syntax (<ipython-input-22-45c631d0600b>, line 1)

In [23]:
data.iloc(1:, 0:2)

SyntaxError: invalid syntax (<ipython-input-23-57698e24ef20>, line 1)

In [24]:
data.iloc[1:7, 0:2]

   housing_age  income
1           49  6.0199
2           35  5.1155
3           32  4.7109
4           21  4.5625
5           38  4.3403
6           25  3.9696

In [25]:
data[data.columns[[0,2,4]]]

       housing_age  bedrooms     rooms
0               23  0.141112  8.103960
1               49  0.160984  5.752412
2               35  0.249061  3.888078
3               32  0.231383  4.508393
4               21  0.255583  4.667954
...            ...       ...       ...
17684           34  0.214583  4.897959
17685           33  0.246622  4.698413
17686           39  0.340771  3.572464
17687           19  0.386107  3.774390
17688           16  0.286275  6.710526

[17689 rows x 3 columns]

In [26]:
df.at[5, 'age']

NameError: name 'df' is not defined

In [27]:
data.at[5, 'age']

KeyError: 'age'

In [28]:
df.at[5, 'income']

NameError: name 'df' is not defined

In [29]:
data.at[5, 'income']

4.3403

In [30]:
case=data.copy()

In [31]:
data_columns.columns

NameError: name 'data_columns' is not defined

In [32]:
data.columns

Index(['housing_age', 'income', 'bedrooms', 'households', 'rooms',
       'house_value'],
      dtype='object')

In [33]:
data.rename(columns={'income':'earnings'}, inplace=true)

NameError: name 'true' is not defined

In [34]:
data.rename(columns={'income':'earnings'}, inplace=True)

In [35]:
data.columns

Index(['housing_age', 'earnings', 'bedrooms', 'households', 'rooms',
       'house_value'],
      dtype='object')

In [36]:
data.head()

   housing_age  earnings  bedrooms  households     rooms  house_value
0           23    6.7770  0.141112    2.442244  8.103960       500000
1           49    6.0199  0.160984    2.726688  5.752412       500000
2           35    5.1155  0.249061    1.902676  3.888078       500000
3           32    4.7109  0.231383    1.913669  4.508393       500000
4           21    4.5625  0.255583    3.092664  4.667954       500000

In [37]:
data.columns['1명당 방갯수 비율']=data.columns['rooms']/data.columns['households']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [38]:
data.columns['kk']=data.columns['rooms']/data.columns['households']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [39]:
data.columns['kk']=data.columns['rooms']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [40]:
data.head

<bound method NDFrame.head of        housing_age  earnings  bedrooms  households     rooms  house_value
0               23    6.7770  0.141112    2.442244  8.103960       500000
1               49    6.0199  0.160984    2.726688  5.752412       500000
2               35    5.1155  0.249061    1.902676  3.888078       500000
3               32    4.7109  0.231383    1.913669  4.508393       500000
4               21    4.5625  0.255583    3.092664  4.667954       500000
...            ...       ...       ...         ...       ...          ...
17684           34    2.3013  0.214583    2.748299  4.897959        26600
17685           33    2.6750  0.246622    3.428571  4.698413        22500
17686           39    2.3667  0.340771    1.876812  3.572464        17500
17687           19    2.1000  0.386107    2.987805  3.774390        14999
17688           16    1.6607  0.286275    2.236842  6.710526        14999

[17689 rows x 6 columns]>

In [41]:
data.head()

   housing_age  earnings  bedrooms  households     rooms  house_value
0           23    6.7770  0.141112    2.442244  8.103960       500000
1           49    6.0199  0.160984    2.726688  5.752412       500000
2           35    5.1155  0.249061    1.902676  3.888078       500000
3           32    4.7109  0.231383    1.913669  4.508393       500000
4           21    4.5625  0.255583    3.092664  4.667954       500000

In [42]:
data_case=data[(data['earnings']>=4)&(data['rooms']>=4)]

In [43]:
data_case.head()

   housing_age  earnings  bedrooms  households     rooms  house_value
0           23    6.7770  0.141112    2.442244  8.103960       500000
1           49    6.0199  0.160984    2.726688  5.752412       500000
3           32    4.7109  0.231383    1.913669  4.508393       500000
4           21    4.5625  0.255583    3.092664  4.667954       500000
5           38    4.3403  0.268350    1.768000  5.068000       500000

In [44]:
print(data_case.shape())

TypeError: 'tuple' object is not callable

In [45]:
print(data_case.shape)

(6474, 6)

In [46]:
#기초코딩 1~15 번 수행;

In [47]:
data.head()

   housing_age  earnings  bedrooms  households     rooms  house_value
0           23    6.7770  0.141112    2.442244  8.103960       500000
1           49    6.0199  0.160984    2.726688  5.752412       500000
2           35    5.1155  0.249061    1.902676  3.888078       500000
3           32    4.7109  0.231383    1.913669  4.508393       500000
4           21    4.5625  0.255583    3.092664  4.667954       500000

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17689 entries, 0 to 17688
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   housing_age  17689 non-null  int64
 1   earnings     17689 non-null  float64
 2   bedrooms     17689 non-null  float64
 3   households   17689 non-null  float64
 4   rooms        17689 non-null  float64
 5   house_value  17689 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 829.3 KB

In [49]:
X=data[data.columns[0:5]]
y=data[['house_value']]

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y random_state=42)

SyntaxError: invalid syntax (<ipython-input-50-1191c97a3ad3>, line 2)

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state=42)

In [52]:
from skelearn.mdoel_preprocessing import MinMaxScale
scaler=MinMaxScale()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

ModuleNotFoundError: No module named 'skelearn'

In [53]:
from sklearn.mdoel_preprocessing import MinMaxScale
scaler=MinMaxScale()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

ModuleNotFoundError: No module named 'sklearn.mdoel_preprocessing'

In [54]:
from sklearn.preprocessing import MinMaxScale
scaler=MinMaxScale()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

ImportError: cannot import name 'MinMaxScale' from 'sklearn.preprocessing' (/Users/Eddie/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/__init__.py)

In [55]:
from sklearn.model_preprocessing import MinMaxScale
scaler=MinMaxScale()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

ModuleNotFoundError: No module named 'sklearn.model_preprocessing'

In [56]:
from sklearn.preprocessing import MinMaxScale
scaler=MinMaxScale()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

ImportError: cannot import name 'MinMaxScale' from 'sklearn.preprocessing' (/Users/Eddie/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/__init__.py)

In [57]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScale()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

NameError: name 'MinMaxScale' is not defined

In [58]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

NameError: name 'X_trian' is not defined

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state=42)

In [60]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_trian)
X_scaled_test=scaler.transform(X_test)

NameError: name 'X_trian' is not defined

In [61]:
X_train

       housing_age  earnings  bedrooms  households     rooms
17235           12    2.0577  0.185449    3.945455  6.372727
14220           37    4.0000  0.171566    2.741497  6.363946
3280            24    5.8904  0.154485    2.969325  6.651840
15279           17    0.9393  0.241460    3.257256  4.518470
14727           16    2.7143  0.194977    2.679287  6.385301
...            ...       ...       ...         ...       ...
11284            8    3.0806  0.236803    3.984340  4.534676
11964           13    2.2019  0.265491    4.460648  4.333333
5390            41    2.6818  0.240909    4.138298  4.680851
860             21    5.0907  0.177247    2.272923  6.239971
15795           29    2.4943  0.193835    2.586826  5.050898

[13266 rows x 5 columns]

In [62]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [63]:
#띄어쓰기 조심하자;

In [64]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
print("랜덤포레스트 회귀분석기의 훈련데이터 스코어는".format(model.score(X_scaled_train, y_train)))

랜덤포레스트 회귀분석기의 훈련데이터 스코어는

In [65]:
print("랜덤포레스트 회귀분석기의 훈련데이터 스코어는",model.score(X_scaled_train, y_train))

랜덤포레스트 회귀분석기의 훈련데이터 스코어는 0.945658270091794

In [66]:
pred_test=(X_scaled_test, y_test)
print("랜덤포레스트 회귀분석기의 테스트데이터 스코어는", model.score(X_scaled_test, y_test))

랜덤포레스트 회귀분석기의 테스트데이터 스코어는 0.6236449160302315

In [67]:
from sklearn.metrics import mean_squared_error
MSE_train=mean_squared_error(y_train, pred_train)
MSE_test=mean_squared_error(y_test, pred_test)
print('랜덤포레스트 회귀분석기의 훈련 데이터 RMSE:', np.sqrt(MSE_train))
print('랜덤포레스트 회귀분석기의 테스트 데이터 RMSE:', np.sqrt(MSE_test))

ValueError: Found input variables with inconsistent numbers of samples: [4423, 2]

In [68]:
pred_test=model.predict(X_scaled_test)

In [69]:
from sklearn.metrics import mean_squared_error
MSE_train=mean_squared_error(y_train, pred_train)
MSE_test=mean_squared_error(y_test, pred_test)
print('랜덤포레스트 회귀분석기의 훈련 데이터 RMSE:', np.sqrt(MSE_train))
print('랜덤포레스트 회귀분석기의 테스트 데이터 RMSE:', np.sqrt(MSE_test))

랜덤포레스트 회귀분석기의 훈련 데이터 RMSE: 22249.372841416676
랜덤포레스트 회귀분석기의 테스트 데이터 RMSE: 58649.1020785058

In [ ]:
param_grid='n_estimators': range(100,500,100),
    'max_features