In [1]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplot.pyplot as plt 

data=read.pd_csv('breast-cancer-wisconsin.csv')
data.info()

ModuleNotFoundError: No module named 'matplot'

In [2]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

data=read.pd_csv('breast-cancer-wisconsin.csv')
data.info()

NameError: name 'read' is not defined

In [3]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

data=pd.read_csv('breast-cancer-wisconsin.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   code                         683 non-null    int64
 1   Clump_Thickness              683 non-null    int64
 2   Cell_Size                    683 non-null    int64
 3   Cell_Shape                   683 non-null    int64
 4   Marginal_Adhesion            683 non-null    int64
 5   Single_Epithelial_Cell_Size  683 non-null    int64
 6   Bare_Nuclei                  683 non-null    int64
 7   Bland_Chromatin              683 non-null    int64
 8   Normal_Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [4]:
X=data[data.columns[1:9]]
y=data[['Class']]

In [5]:
data[1:4]

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0

In [6]:
data[1:5]

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [7]:
#판다스는 0번부터 시작하기때문에 항상 알고자하는 갯수에서 1을 더해줘야 원하는 값을 얻을수 있다.

In [8]:
data[:3]

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0

In [9]:
data[60:]

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
60,1116116,9,10,10,1,10,8,3,3,1,1
61,1116132,6,3,4,1,5,2,3,9,1,1
62,1116192,1,1,1,1,2,1,2,1,1,0
63,1116998,10,4,2,1,3,2,4,3,10,1
64,1117152,4,1,1,1,2,1,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
678,776715,3,1,1,1,3,2,1,1,1,0
679,841769,2,1,1,1,2,1,1,1,1,0
680,888820,5,10,10,3,7,3,8,10,2,1
681,897471,4,8,6,4,3,4,10,6,1,1
682,897471,4,8,8,5,4,5,10,4,1,1

In [10]:
data[['Bland_chromatin']]

KeyError: "None of [Index(['Bland_chromatin'], dtype='object')] are in the [columns]"

In [11]:
data[['Bland_Chromatin']]

     Bland_Chromatin
0                  3
1                  3
2                  3
3                  3
4                  3
..               ...
678                1
679                1
680                8
681               10
682               10

[683 rows x 1 columns]

In [12]:
data[data.columns[[0,2,4]]]

        code  Cell_Size  Marginal_Adhesion
0    1000025          1                  1
1    1002945          4                  5
2    1015425          1                  1
3    1016277          8                  1
4    1017023          1                  3
..       ...        ...                ...
678   776715          1                  1
679   841769          1                  1
680   888820         10                  3
681   897471          8                  4
682   897471          8                  5

[683 rows x 3 columns]

In [13]:
data.loc[:, 'Cell_size':'Class']

KeyError: 'Cell_size'

In [14]:
data.loc[:, 'Cell_Size':'Class']

,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1,1,1,2,1,3,1,1,0
1,4,4,5,7,10,3,2,1,0
2,1,1,1,2,2,3,1,1,0
3,8,8,1,3,4,3,7,1,0
4,1,1,3,2,1,3,1,1,0
...,...,...,...,...,...,...,...,...,...
678,1,1,1,3,2,1,1,1,0
679,1,1,1,2,1,1,1,1,0
680,10,10,3,7,3,8,10,2,1
681,8,6,4,3,4,10,6,1,1
682,8,8,5,4,5,10,4,1,1

In [15]:
#내가 헷갈리는것은 어떤 자료는 데이터프레임까지 씌워서 데이터를 두번이상 부르는 경우도 있는반번 위예처럼 심플하게 한번만 호출해서 원하는 얻는것의 차이를 
#모르겠다는것이다. 당연히 위의 자료형태가 훨씬 쉽다.

In [16]:
data.iloc[1:7,0:2]

      code  Clump_Thickness
1  1002945                5
2  1015425                3
3  1016277                6
4  1017023                4
5  1017122                8
6  1018099                1

In [17]:
data.at[5, 'Clump_Thickness']

8

In [18]:
Copy_practice=data.copy()

In [19]:
data.columns

Index(['code', 'Clump_Thickness', 'Cell_Size', 'Cell_Shape',
       'Marginal_Adhesion', 'Single_Epithelial_Cell_Size', 'Bare_Nuclei',
       'Bland_Chromatin', 'Normal_Nucleoli', 'Mitoses', 'Class'],
      dtype='object')

In [20]:
data.rename(columns={'code':'number'}, inplace=True)

In [21]:
data.columns.head()

AttributeError: 'Index' object has no attribute 'head'

In [22]:
data.head()

,number,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [23]:
data.head(10)

,number,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0
5,1017122,8,10,10,8,7,10,9,7,1,1
6,1018099,1,1,1,1,2,10,3,1,1,0
7,1018561,2,1,2,1,2,1,3,1,1,0
8,1033078,2,1,1,1,2,1,1,1,5,0
9,1033078,4,2,1,1,2,1,2,1,1,0

In [24]:
data.columns['Practice']=data.columns['Clump_Thickness']/data.columns['Cell_Size']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [25]:
data_columns['pratice']=data_columns['Clump_Thickness']/data.columns['Cell_Size']

NameError: name 'data_columns' is not defined

In [26]:
data['pratice']=data['Clump_Thickness']/data['Cell_Size']

In [27]:
data.head()

,number,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class,pratice
0,1000025,5,1,1,1,2,1,3,1,1,0,5.00
1,1002945,5,4,4,5,7,10,3,2,1,0,1.25
2,1015425,3,1,1,1,2,2,3,1,1,0,3.00
3,1016277,6,8,8,1,3,4,3,7,1,0,0.75
4,1017023,4,1,1,3,2,1,3,1,1,0,4.00

In [28]:
#새로운 열을 추가할때는 심플하게 해당칼럼을참고하는 리스트만 쓰면될듯하다.

In [29]:
del data['pratice']

In [30]:
data_pratice=data[(data['Cell_Size']==8)& (df['Marginal_Adhesion']==5)]

NameError: name 'df' is not defined

In [31]:
data_pratice=data[(data['Cell_Size']==8)& (data['Marginal_Adhesion']==5)]

In [32]:
data_pratice.head()

,number,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
225,1231387,6,8,7,5,6,8,8,9,2,1
230,1241679,9,8,8,5,6,2,4,10,4,1
682,897471,4,8,8,5,4,5,10,4,1,1

In [33]:
data_pratice2=data[(data['Clump_Thickness']>=6)&(data['Cell_Size']>=8)]
data_pratice2.head()

,number,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
3,1016277,6,8,8,1,3,4,3,7,1,0
5,1017122,8,10,10,8,7,10,9,7,1,1
35,1080185,10,10,10,8,6,1,8,9,1,1
40,1100524,6,10,10,2,8,10,7,3,3,1
42,1103608,10,10,10,4,8,1,8,10,1,1

In [34]:
print(data_pratice2.shape)

(74, 11)

In [35]:
#판다스 기초 1~14번 종료

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, stratify=y, random_state=42)

In [37]:
y_train.mean()

Class    0.349609
dtype: float64

In [38]:
y_test.mean()

Class    0.350877
dtype: float64

In [39]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [40]:
from skelearn.ensemble import RandomForestClassifer
model=RandomForestClassifer()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
print("랜덤포레스트분류기의 훈련데이터 스코어는 {:.4f}".format(moel.score(X_scaled_train, y_train)))

ModuleNotFoundError: No module named 'skelearn'

In [41]:
from sklearn.ensemble import RandomForestClassifer
model=RandomForestClassifer()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
print("랜덤포레스트분류기의 훈련데이터 스코어는 {:.4f}".format(moel.score(X_scaled_train, y_train)))

ImportError: cannot import name 'RandomForestClassifer' from 'sklearn.ensemble' (/Users/Eddie/opt/anaconda3/lib/python3.8/site-packages/sklearn/ensemble/__init__.py)

In [42]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
print("랜덤포레스트분류기의 훈련데이터 스코어는 {:.4f}".format(moel.score(X_scaled_train, y_train)))

NameError: name 'moel' is not defined

In [43]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_scaled_train, y_train)
pred_train=model.predict(X_scaled_train)
print("랜덤포레스트분류기의 훈련데이터 스코어는 {:.4f}".format(model.score(X_scaled_train, y_train)))

랜덤포레스트분류기의 훈련데이터 스코어는 1.0000

In [44]:
from sklearn.metrics import confusion_matrix
confusion_train=confusion_matrix(pred_train, y_train)
print('랜덤포레스트분류기의 훈련데이터 혼동행렬은 \n:', confusion_train)

랜덤포레스트분류기의 훈련데이터 혼동행렬은
: [[333   0]
 [  0 179]]

In [45]:
pred_test=model.predict(X_scaled_test)
print("랜덤포레스트분류기의 테스트데이터 스코어는 {:.4f}".format(model.score(pred_test, y_test)))

ValueError: Expected 2D array, got 1D array instead:
array=[0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0.
 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0.
 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1.
 1. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [46]:
pred_test=model.predict(X_scaled_test)
print("랜덤포레스트분류기의 테스트데이터 스코어는 {:.4f}".format(model.score(X_scaled_test, y_test)))

랜덤포레스트분류기의 테스트데이터 스코어는 0.9649

In [47]:
confusion_test=confusion_matrix(pred_test, y_test)
print("랜덤포레스트분류기의 테스트데이터 오차행렬은 다음과 같습니다. \n", confusion_test)

랜덤포레스트분류기의 테스트데이터 오차행렬은 다음과 같습니다.
 [[106   1]
 [  5  59]]